In [165]:
import pandas as pd

df1 = pd.read_csv('data/weather/2016/중동_강수_201601_201612.csv')
df2 = pd.read_csv('data/weather/2016/중동_강수형태_201601_201612.csv')
df3 = pd.read_csv('data/weather/2016/중동_기온_201601_201612.csv')
df4 = pd.read_csv('data/weather/2016/중동_풍속_201601_201612.csv')
df5 = pd.read_csv('data/weather/2016/중동_풍향_201601_201612.csv')

In [175]:
weather2016 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2016.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]
weather2016[~weather2016["Day"].str.contains("Start")]
weather2016.drop(weather2016.tail(1).index,inplace=True)
weather2016['Month'] = weather2016['Month'].astype(int)
weather2016['Month'] = weather2016['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)


weather2016['Hour'] = weather2016['Hour']/100
weather2016['Hour'] = weather2016['Hour'].astype(int)
weather2016['Hour'] = weather2016['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2016

      Month Day  Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0  0.0   0.0  0.9  0.5  127.0
1         1   1     1  0.0   0.0  1.7  0.5  127.0
2         1   1     2  0.0   0.0  3.0  0.8  166.0
3         1   1     3  0.0   0.0  4.2  0.6  129.0
4         1   1     4  0.0   0.0  5.0  0.9  103.0
...     ...  ..   ...  ...   ...  ...  ...    ...
8779     12  31    19  0.0   0.0  0.1  0.6  162.0
8780     12  31    20  0.0   0.0  0.3  0.7  153.0
8781     12  31    21  0.0   0.0  0.2  0.7  135.0
8782     12  31    22  0.0   0.0  0.6  0.6  141.0
8783     12  31    23  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]

In [153]:
weather2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   8784 non-null   object
 1   Day     8784 non-null   object
 2   Hour    8784 non-null   float64
 3   강수      8784 non-null   float64
 4   강수형태    8784 non-null   float64
 5   기온      8784 non-null   float64
 6   풍속      8784 non-null   float64
 7   풍향      8784 non-null   float64
dtypes: float64(6), object(2)
memory usage: 617.6+ KB

In [139]:
import pandas as pd

df1 = pd.read_csv('data/weather/2017/중동_강수_201701_201712.csv')
df2 = pd.read_csv('data/weather/2017/중동_강수형태_201701_201712.csv')
df3 = pd.read_csv('data/weather/2017/중동_기온_201701_201712.csv')
df4 = pd.read_csv('data/weather/2017/중동_풍속_201701_201712.csv')
df5 = pd.read_csv('data/weather/2017/중동_풍향_201701_201712.csv')

In [167]:
weather2017 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2017.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]
weather2017[~weather2017["Day"].str.contains("Start")]
weather2017.drop(weather2017.tail(1).index,inplace=True)
weather2017['Month'] = weather2017['Month'].astype(int)
weather2017['Month'] = weather2017['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2017

      Month Day    Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0.0  0.0   0.0  0.9  0.5  127.0
1         1   1   100.0  0.0   0.0  1.7  0.5  127.0
2         1   1   200.0  0.0   0.0  3.0  0.8  166.0
3         1   1   300.0  0.0   0.0  4.2  0.6  129.0
4         1   1   400.0  0.0   0.0  5.0  0.9  103.0
...     ...  ..     ...  ...   ...  ...  ...    ...
8779     12  31  1900.0  0.0   0.0  0.1  0.6  162.0
8780     12  31  2000.0  0.0   0.0  0.3  0.7  153.0
8781     12  31  2100.0  0.0   0.0  0.2  0.7  135.0
8782     12  31  2200.0  0.0   0.0  0.6  0.6  141.0
8783     12  31  2300.0  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]

In [141]:
import pandas as pd

df1 = pd.read_csv('data/weather/2018/중동_강수_201801_201812.csv')
df2 = pd.read_csv('data/weather/2018/중동_강수형태_201801_201812.csv')
df3 = pd.read_csv('data/weather/2018/중동_기온_201801_201812.csv')
df4 = pd.read_csv('data/weather/2018/중동_풍속_201801_201812.csv')
df5 = pd.read_csv('data/weather/2018/중동_풍향_201801_201812.csv')

In [174]:
weather2018 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2018.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]


weather2018[~weather2018["Day"].str.contains("Start")]
weather2018.drop(weather2018.tail(1).index,inplace=True)
weather2018['Month'] = weather2018['Month'].astype(int)
weather2018['Month'] = weather2018['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2018['Hour'] = weather2018['Hour']/100
weather2018['Hour'] = weather2018['Hour'].astype(int)
weather2018['Hour'] = weather2018['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2018

      Month Day  Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0  0.0   0.0  0.9  0.5  127.0
1         1   1     1  0.0   0.0  1.7  0.5  127.0
2         1   1     2  0.0   0.0  3.0  0.8  166.0
3         1   1     3  0.0   0.0  4.2  0.6  129.0
4         1   1     4  0.0   0.0  5.0  0.9  103.0
...     ...  ..   ...  ...   ...  ...  ...    ...
8779     12  31    19  0.0   0.0  0.1  0.6  162.0
8780     12  31    20  0.0   0.0  0.3  0.7  153.0
8781     12  31    21  0.0   0.0  0.2  0.7  135.0
8782     12  31    22  0.0   0.0  0.6  0.6  141.0
8783     12  31    23  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]

In [86]:
weather2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   8760 non-null   float64
 1   Day     8772 non-null   object
 2   Hour    8760 non-null   float64
 3   강수      8760 non-null   float64
 4   강수형태    8760 non-null   float64
 5   기온      8760 non-null   float64
 6   풍속      8760 non-null   float64
 7   풍향      8760 non-null   float64
dtypes: float64(7), object(1)
memory usage: 548.4+ KB

In [80]:
weather2018["Day"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31',
       ' Start : 20170201 ', ' Start : 20170301 ', ' Start : 20170401 ',
       ' Start : 20170501 ', ' Start : 20170601 ', ' Start : 20170701 ',
       ' Start : 20170801 ', ' Start : 20170901 ', ' Start : 20171001 ',
       ' Start : 20171101 ', ' Start : 20171201 ', ' '], dtype=object)

In [143]:
import pandas as pd

df1 = pd.read_csv('data/weather/2019/중동_강수_201901_201912.csv')
df2 = pd.read_csv('data/weather/2019/중동_강수형태_201901_201912.csv')
df3 = pd.read_csv('data/weather/2019/중동_기온_201901_201912.csv')
df4 = pd.read_csv('data/weather/2019/중동_풍속_201901_201912.csv')
df5 = pd.read_csv('data/weather/2019/중동_풍향_201901_201912.csv')

In [176]:
weather2019 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2019.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]



weather2019[~weather2019["Day"].str.contains("Start")]
weather2019.drop(weather2019.tail(1).index,inplace=True)
weather2019['Month'] = weather2019['Month'].astype(int)
weather2019['Month'] = weather2019['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2019['Hour'] = weather2019['Hour']/100
weather2019['Hour'] = weather2019['Hour'].astype(int)
weather2019['Hour'] = weather2019['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2019

      Month Day  Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0  0.0   0.0  0.9  0.5  127.0
1         1   1     1  0.0   0.0  1.7  0.5  127.0
2         1   1     2  0.0   0.0  3.0  0.8  166.0
3         1   1     3  0.0   0.0  4.2  0.6  129.0
4         1   1     4  0.0   0.0  5.0  0.9  103.0
...     ...  ..   ...  ...   ...  ...  ...    ...
8779     12  31    19  0.0   0.0  0.1  0.6  162.0
8780     12  31    20  0.0   0.0  0.3  0.7  153.0
8781     12  31    21  0.0   0.0  0.2  0.7  135.0
8782     12  31    22  0.0   0.0  0.6  0.6  141.0
8783     12  31    23  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]

In [149]:
import pandas as pd

df1 = pd.read_csv('data/weather/2020/중동_강수_202001_202012.csv')
df2 = pd.read_csv('data/weather/2020/중동_강수형태_202001_202012.csv')
df3 = pd.read_csv('data/weather/2020/중동_기온_202001_202012.csv')
df4 = pd.read_csv('data/weather/2020/중동_풍속_202001_202012.csv')
df5 = pd.read_csv('data/weather/2020/중동_풍향_202001_202012.csv')

In [177]:
weather2020 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2020.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]

weather2020[~weather2020["Day"].str.contains("Start")]
weather2020.drop(weather2020.tail(1).index,inplace=True)
weather2020['Month'] = weather2020['Month'].astype(int)
weather2020['Month'] = weather2020['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2020['Hour'] = weather2020['Hour']/100
weather2020['Hour'] = weather2020['Hour'].astype(int)
weather2020['Hour'] = weather2020['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2020

      Month Day  Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0  0.0   0.0  0.9  0.5  127.0
1         1   1     1  0.0   0.0  1.7  0.5  127.0
2         1   1     2  0.0   0.0  3.0  0.8  166.0
3         1   1     3  0.0   0.0  4.2  0.6  129.0
4         1   1     4  0.0   0.0  5.0  0.9  103.0
...     ...  ..   ...  ...   ...  ...  ...    ...
8779     12  31    19  0.0   0.0  0.1  0.6  162.0
8780     12  31    20  0.0   0.0  0.3  0.7  153.0
8781     12  31    21  0.0   0.0  0.2  0.7  135.0
8782     12  31    22  0.0   0.0  0.6  0.6  141.0
8783     12  31    23  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]