In [8]:
import pandas as pd

df1 = pd.read_csv('data/weather/2016/중동_강수_201601_201612.csv')
df2 = pd.read_csv('data/weather/2016/중동_강수형태_201601_201612.csv')
df3 = pd.read_csv('data/weather/2016/중동_기온_201601_201612.csv')
df4 = pd.read_csv('data/weather/2016/중동_풍속_201601_201612.csv')
df5 = pd.read_csv('data/weather/2016/중동_풍향_201601_201612.csv')

In [9]:
weather2016 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2016.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]
weather2016[~weather2016["Day"].str.contains("Start")]
weather2016.drop(weather2016.tail(1).index,inplace=True)
weather2016['Month'] = weather2016['Month'].astype(int)
weather2016['Month'] = weather2016['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)


weather2016['Hour'] = weather2016['Hour']/100
weather2016['Hour'] = weather2016['Hour'].astype(int)
weather2016['Hour'] = weather2016['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2016

      Month Day  Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0  0.0   0.0  0.9  0.5  127.0
1         1   1     1  0.0   0.0  1.7  0.5  127.0
2         1   1     2  0.0   0.0  3.0  0.8  166.0
3         1   1     3  0.0   0.0  4.2  0.6  129.0
4         1   1     4  0.0   0.0  5.0  0.9  103.0
...     ...  ..   ...  ...   ...  ...  ...    ...
8779     12  31    19  0.0   0.0  0.1  0.6  162.0
8780     12  31    20  0.0   0.0  0.3  0.7  153.0
8781     12  31    21  0.0   0.0  0.2  0.7  135.0
8782     12  31    22  0.0   0.0  0.6  0.6  141.0
8783     12  31    23  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]

In [45]:
rain2016=weather2016.groupby(['Month','Day'])['강수'].mean()
rainshape2016=weather2016.groupby(['Month','Day'])['강수형태'].mean()
temp2016=weather2016.groupby(['Month','Day'])['기온'].mean()
wind2016=weather2016.groupby(['Month','Day'])['풍속'].mean()
winddire2016=weather2016.groupby(['Month','Day'])['풍향'].mean()

In [46]:
df_2016weather = pd.concat([rain2016, rainshape2016, temp2016,wind2016,winddire2016], axis=1)
df_2016weather

                 강수      강수형태        기온        풍속          풍향
Month Day
1     1    0.000000  0.000000  4.025000  0.679167  158.375000
      10   0.000000  0.000000 -0.070833  1.337500  337.000000
      11   0.000000  0.000000 -3.320833  0.766667  280.166667
      12   0.000000  0.000000 -3.358333  0.733333  215.666667
      13   0.000000  0.500000 -3.129167  1.137500  217.583333
...             ...       ...       ...       ...         ...
12    5    0.000000  0.000000  4.462500  1.300000  285.083333
      6    0.016667  0.500000  0.820833  1.095833  182.541667
      7    0.000000  0.000000  2.795833  0.841667  228.458333
      8    0.300000  0.208333  4.937500  0.987500  206.041667
      9    0.000000  0.000000  0.708333  0.779167  197.333333

[366 rows x 5 columns]

In [43]:
rainshape2016

Month  Day
1      1      0.000000
       10     0.000000
       11     0.000000
       12     0.000000
       13     0.500000
                ...
12     5      0.000000
       6      0.500000
       7      0.000000
       8      0.208333
       9      0.000000
Name: 강수형태, Length: 366, dtype: float64

In [47]:


df_2016weather.to_csv("output/df_2016weather.csv")

In [ ]:
# 3월 1일 ~ 12월 31일

weather2016.[""]

In [11]:
weather2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   8784 non-null   int32
 1   Day     8784 non-null   object
 2   Hour    8784 non-null   int32
 3   강수      8784 non-null   float64
 4   강수형태    8784 non-null   float64
 5   기온      8784 non-null   float64
 6   풍속      8784 non-null   float64
 7   풍향      8784 non-null   float64
dtypes: float64(5), int32(2), object(1)
memory usage: 549.0+ KB

In [6]:
import pandas as pd

df1 = pd.read_csv('data/weather/2017/중동_강수_201701_201712.csv')
df2 = pd.read_csv('data/weather/2017/중동_강수형태_201701_201712.csv')
df3 = pd.read_csv('data/weather/2017/중동_기온_201701_201712.csv')
df4 = pd.read_csv('data/weather/2017/중동_풍속_201701_201712.csv')
df5 = pd.read_csv('data/weather/2017/중동_풍향_201701_201712.csv')

In [12]:
weather2017 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2017.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]
weather2017[~weather2017["Day"].str.contains("Start")]
weather2017.drop(weather2017.tail(1).index,inplace=True)
weather2017['Month'] = weather2017['Month'].astype(int)
weather2017['Month'] = weather2017['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2017

      Month Day    Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0.0  0.0   0.0  0.9  0.5  127.0
1         1   1   100.0  0.0   0.0  1.7  0.5  127.0
2         1   1   200.0  0.0   0.0  3.0  0.8  166.0
3         1   1   300.0  0.0   0.0  4.2  0.6  129.0
4         1   1   400.0  0.0   0.0  5.0  0.9  103.0
...     ...  ..     ...  ...   ...  ...  ...    ...
8779     12  31  1900.0  0.0   0.0  0.1  0.6  162.0
8780     12  31  2000.0  0.0   0.0  0.3  0.7  153.0
8781     12  31  2100.0  0.0   0.0  0.2  0.7  135.0
8782     12  31  2200.0  0.0   0.0  0.6  0.6  141.0
8783     12  31  2300.0  0.0   0.0  0.8  0.4  135.0

[8784 rows x 8 columns]

In [30]:
rain2017=weather2017.groupby(['Month','Day'])['강수'].mean()
rainshape2017=weather2017.groupby(['Month','Day'])['강수형태'].mean()
temp2017=weather2017.groupby(['Month','Day'])['기온'].mean()
wind2017=weather2017.groupby(['Month','Day'])['풍속'].mean()
winddire2017=weather2017.groupby(['Month','Day'])['풍향'].mean()

In [49]:
df_2017weather = pd.concat([rain2017, rainshape2017, temp2017,wind2017,winddire2017], axis=1)
df_2017weather

                 강수      강수형태        기온        풍속          풍향
Month Day
1     1    0.000000  0.000000  4.025000  0.679167  158.375000
      10   0.000000  0.000000 -0.070833  1.337500  337.000000
      11   0.000000  0.000000 -3.320833  0.766667  280.166667
      12   0.000000  0.000000 -3.358333  0.733333  215.666667
      13   0.000000  0.500000 -3.129167  1.137500  217.583333
...             ...       ...       ...       ...         ...
12    5    0.000000  0.000000  4.462500  1.300000  285.083333
      6    0.016667  0.500000  0.820833  1.095833  182.541667
      7    0.000000  0.000000  2.795833  0.841667  228.458333
      8    0.300000  0.208333  4.937500  0.987500  206.041667
      9    0.000000  0.000000  0.708333  0.779167  197.333333

[366 rows x 5 columns]

In [50]:
df_2017weather.to_csv("output/df_2017weather.csv")

In [15]:
import pandas as pd

df1 = pd.read_csv('data/weather/2018/중동_강수_201801_201812.csv')
df2 = pd.read_csv('data/weather/2018/중동_강수형태_201801_201812.csv')
df3 = pd.read_csv('data/weather/2018/중동_기온_201801_201812.csv')
df4 = pd.read_csv('data/weather/2018/중동_풍속_201801_201812.csv')
df5 = pd.read_csv('data/weather/2018/중동_풍향_201801_201812.csv')

In [16]:
weather2018 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2018.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]


weather2018[~weather2018["Day"].str.contains("Start")]
weather2018.drop(weather2018.tail(1).index,inplace=True)
weather2018['Month'] = weather2018['Month'].astype(int)
weather2018['Month'] = weather2018['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2018['Hour'] = weather2018['Hour']/100
weather2018['Hour'] = weather2018['Hour'].astype(int)
weather2018['Hour'] = weather2018['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2018

      Month Day  Hour   강수  강수형태    기온   풍속     풍향
0         1   1     0  0.0   0.0   1.0  0.1   90.0
1         1   1     1  0.0   0.0   1.8  1.0  323.0
2         1   1     2  0.0   0.0   2.7  0.9  324.0
3         1   1     3  0.0   0.0   3.1  0.8  330.0
4         1   1     4  0.0   0.0   3.0  0.9  319.0
...     ...  ..   ...  ...   ...   ...  ...    ...
8755     12  31    19  0.0   0.0 -11.2  0.0    0.0
8756     12  31    20  0.0   0.0 -10.8  0.0    0.0
8757     12  31    21  0.0   0.0 -10.6  0.0    0.0
8758     12  31    22  0.0   0.0  -9.5  0.0    0.0
8759     12  31    23  0.0   0.0  -6.4  0.0    0.0

[8760 rows x 8 columns]

In [51]:
rain2018=weather2018.groupby(['Month','Day'])['강수'].mean()
rainshape2018=weather2018.groupby(['Month','Day'])['강수형태'].mean()
temp2018=weather2018.groupby(['Month','Day'])['기온'].mean()
wind2018=weather2018.groupby(['Month','Day'])['풍속'].mean()
winddire2018=weather2018.groupby(['Month','Day'])['풍향'].mean()

In [52]:
df_2018weather = pd.concat([rain2018, rainshape2018, temp2018,wind2018,winddire2018], axis=1)
df_2018weather

                 강수   강수형태         기온        풍속          풍향
Month Day
1     1    0.000000  0.000  -0.358333  0.587500  219.375000
      10   0.000000  0.000  -8.083333  1.483333  329.041667
      11   0.000000  0.000 -11.041667  1.137500  290.583333
      12   0.058333  1.125  -7.162500  0.637500  205.125000
      13   0.008333  0.125  -2.633333  0.604167  104.958333
...             ...    ...        ...       ...         ...
12    5    0.000000  0.000   1.150000  2.387500  319.375000
      6    0.000000  0.000  -0.408333  2.454167  305.208333
      7    0.000000  0.000  -8.145833  1.925000  163.708333
      8    0.000000  0.000  -8.387500  1.112500  165.666667
      9    0.000000  0.000  -6.787500  0.275000   61.166667

[365 rows x 5 columns]

In [53]:
df_2018weather.to_csv("output/df_2018weather.csv")

In [86]:
weather2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8772 entries, 0 to 8771
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   8760 non-null   float64
 1   Day     8772 non-null   object
 2   Hour    8760 non-null   float64
 3   강수      8760 non-null   float64
 4   강수형태    8760 non-null   float64
 5   기온      8760 non-null   float64
 6   풍속      8760 non-null   float64
 7   풍향      8760 non-null   float64
dtypes: float64(7), object(1)
memory usage: 548.4+ KB

In [80]:
weather2018["Day"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31',
       ' Start : 20170201 ', ' Start : 20170301 ', ' Start : 20170401 ',
       ' Start : 20170501 ', ' Start : 20170601 ', ' Start : 20170701 ',
       ' Start : 20170801 ', ' Start : 20170901 ', ' Start : 20171001 ',
       ' Start : 20171101 ', ' Start : 20171201 ', ' '], dtype=object)

In [18]:
import pandas as pd

df1 = pd.read_csv('data/weather/2019/중동_강수_201901_201912.csv')
df2 = pd.read_csv('data/weather/2019/중동_강수형태_201901_201912.csv')
df3 = pd.read_csv('data/weather/2019/중동_기온_201901_201912.csv')
df4 = pd.read_csv('data/weather/2019/중동_풍속_201901_201912.csv')
df5 = pd.read_csv('data/weather/2019/중동_풍향_201901_201912.csv')

In [19]:
weather2019 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2019.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]



weather2019[~weather2019["Day"].str.contains("Start")]
weather2019.drop(weather2019.tail(1).index,inplace=True)
weather2019['Month'] = weather2019['Month'].astype(int)
weather2019['Month'] = weather2019['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2019['Hour'] = weather2019['Hour']/100
weather2019['Hour'] = weather2019['Hour'].astype(int)
weather2019['Hour'] = weather2019['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2019

      Month Day  Hour   강수  강수형태   기온   풍속     풍향
0         1   1     0  0.0   0.0 -4.0  0.0    0.0
1         1   1     1  0.0   0.0 -2.8  1.2  342.0
2         1   1     2  0.0   0.0 -2.6  1.3  305.0
3         1   1     3  0.0   0.0 -2.6  1.6  314.0
4         1   1     4  0.0   0.0 -2.2  1.3  324.0
...     ...  ..   ...  ...   ...  ...  ...    ...
8755     12  31    19  0.0   0.0 -5.9  0.0    0.0
8756     12  31    20  0.0   0.0 -5.5  0.0    0.0
8757     12  31    21  0.0   0.0 -5.0  0.0    0.0
8758     12  31    22  0.0   0.0 -4.7  0.0    0.0
8759     12  31    23  0.0   0.0 -3.9  0.0    0.0

[8760 rows x 8 columns]

In [32]:
rain2019=weather2019.groupby(['Month','Day'])['강수'].mean()
rainshape2019=weather2019.groupby(['Month','Day'])['강수형태'].mean()
temp2019=weather2019.groupby(['Month','Day'])['기온'].mean()
wind2019=weather2019.groupby(['Month','Day'])['풍속'].mean()
winddire2019=weather2019.groupby(['Month','Day'])['풍향'].mean()

In [54]:
df_2019weather = pd.concat([rain2019, rainshape2019, temp2019,wind2019,winddire2019], axis=1)
df_2019weather

               강수      강수형태        기온        풍속          풍향
Month Day
1     1    0.0000  0.000000 -6.483333  0.629167  197.750000
      10   0.0000  0.000000 -0.637500  0.283333  113.791667
      11   0.0000  0.000000  1.158333  0.308333   92.833333
      12   0.0000  0.000000 -1.283333  0.229167  110.333333
      13   0.0000  0.000000 -1.175000  0.183333   84.166667
...           ...       ...       ...       ...         ...
12    5    0.0000  0.000000 -6.525000  1.125000  262.375000
      6    0.0000  0.000000 -4.720833  0.308333  114.333333
      7    0.0000  0.000000 -3.000000  0.100000   50.041667
      8    0.0000  0.000000 -0.725000  0.037500   26.666667
      9    0.0625  0.083333  5.866667  0.779167   99.083333

[365 rows x 5 columns]

In [56]:
df_2019weather.to_csv("output/df_2019weather.csv")

In [21]:
import pandas as pd

df1 = pd.read_csv('data/weather/2020/중동_강수_202001_202012.csv')
df2 = pd.read_csv('data/weather/2020/중동_강수형태_202001_202012.csv')
df3 = pd.read_csv('data/weather/2020/중동_기온_202001_202012.csv')
df4 = pd.read_csv('data/weather/2020/중동_풍속_202001_202012.csv')
df5 = pd.read_csv('data/weather/2020/중동_풍향_202001_202012.csv')

In [22]:
weather2020 = pd.concat([df1,df2,df3,df4,df5],axis=1)
weather2020.columns = ['Month','Day',"Hour","강수","강수형태","기온","풍속","풍향"]

weather2020[~weather2020["Day"].str.contains("Start")]
weather2020.drop(weather2020.tail(1).index,inplace=True)
weather2020['Month'] = weather2020['Month'].astype(int)
weather2020['Month'] = weather2020['Month'].astype(str).replace('\.\d+', '', regex=True).astype(int)

weather2020['Hour'] = weather2020['Hour']/100
weather2020['Hour'] = weather2020['Hour'].astype(int)
weather2020['Hour'] = weather2020['Hour'].astype(str).replace('\.\d+', '', regex=True).astype(int)
weather2020

      Month Day  Hour   강수  강수형태    기온   풍속     풍향
0         1   1     0  0.0   0.0  -3.5  0.5   47.0
1         1   1     1  0.0   0.0  -2.0  0.8  359.0
2         1   1     2  0.0   0.0  -0.4  0.0    0.0
3         1   1     3  0.0   0.0   0.7  0.2  138.0
4         1   1     4  0.0   0.0   1.0  0.0    0.0
...     ...  ..   ...  ...   ...   ...  ...    ...
8779     12  31    19  0.0   0.0 -10.3  1.1  215.0
8780     12  31    20  0.0   0.0  -8.6  0.7  217.0
8781     12  31    21  0.0   0.0  -8.2  1.5  209.0
8782     12  31    22  0.0   0.0  -8.7  0.9  207.0
8783     12  31    23  0.0   0.0  -6.0  0.5  299.0

[8784 rows x 8 columns]

In [33]:
rain2020=weather2020.groupby(['Month','Day'])['강수'].mean()
rainshape2020=weather2020.groupby(['Month','Day'])['강수형태'].mean()
temp2020=weather2020.groupby(['Month','Day'])['기온'].mean()
wind2020=weather2020.groupby(['Month','Day'])['풍속'].mean()
winddire2020=weather2020.groupby(['Month','Day'])['풍향'].mean()

In [57]:
df_2020weather = pd.concat([rain2020, rainshape2020, temp2020,wind2020,winddire2020], axis=1)
df_2020weather

            강수  강수형태        기온        풍속          풍향
Month Day
1     1    0.0   0.0 -0.745833  0.070833   34.583333
      10   0.0   0.0 -1.900000  0.141667   89.916667
      11   0.0   0.0 -1.008333  0.483333  180.416667
      12   0.0   0.0 -1.820833  0.720833  207.000000
      13   0.0   0.0 -4.362500  0.379167   86.458333
...        ...   ...       ...       ...         ...
12    5    0.0   0.0  2.587500  0.808333  214.041667
      6    0.0   0.0  4.666667  1.479167  185.958333
      7    0.0   0.0  1.283333  1.995833  177.416667
      8    0.0   0.0 -2.291667  0.820833  170.250000
      9    0.0   0.0  3.012500  0.725000  199.958333

[366 rows x 5 columns]

In [58]:
df_2020weather.to_csv("output/df_2020weather.csv")